@using MT.Common
@{
    RouteValueDictionary vs = ViewContext.RouteData.Values;
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@MTConfig.WebTitle</title>
    <link href="~/Plugins/Font-Awesome-master/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/bootstrap.autocomplete.js" type="text/javascript"></script>
    <link rel="icon" href="~/Styles/images/16.png" type="image/x-icon">
    <link href="~/Styles/bscommon.css" rel="stylesheet" />
    <link href="/Styles/common.css" rel="stylesheet" />
    <link href="~/Styles/backstage.css" rel="stylesheet"/>
    <link href="~/Plugins/common/layui/css/layui-web.css" rel="stylesheet" />
    @*<link href="/Plugins/common/layui/css/layui.css" rel="stylesheet"/>*@
    @RenderSection("head", false)

</head>
<body>
<div>
    <input type="hidden" value="@MTConfig.UserLang" id="lang"/>

    @RenderBody()
    <script src="~/Plugins/common/layui/layui.js"></script>
    <script src="~/Plugins/common/layui/lay/dest/layui.all.js"></script>
    <script src="~/Scripts/lang/selectlang.js"></script>
    <script src="~/Scripts/layverify.js"></script>
    <script>
        $(function () {
            //监听回车按键
            document.onkeydown = function (event) {
                var e = event || window.event || arguments.callee.caller.arguments[0];
                if (e && e.keyCode == 13) {//大回车
                    return false;
                } else if (e && e.keyCode == 108) {//数字键盘回车
                    return false;
                }
            }
        });
    </script>
</div>
@RenderSection("foot", false)
</body>
</html>
