@using MT.Common
@{
    Layout = null;
    RouteValueDictionary vs = ViewContext.RouteData.Values;
    string controller = vs["controller"].ToString().ToLower();
    string action = vs["action"].ToString().ToLower();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    @ResourceHelper.CreateStyleResourceUrl("Home", new[] { "common", "home", "form" })
    @ResourceHelper.CreateScriptResourceUrl(new[] { "Common/jquery-1.7.2.min.js" })
    @RenderSection("head", false)
</head>
<body>
    @Html.Partial("_TopPartial")
    @Html.Partial("_SearchPartial")
    @Html.Partial("_TopNavigationPartial")
    <div class="m-content f-cb mart20">
        <div class="m-left">
            <div class="menu">
                <a class="h f-cb">我的啪啦</a>
                <div class="menu2 f-cb">
                    <a class="f-cb t @(controller == "index" ? "z-crt" : "")" href="/My/Index/Index">我的订单</a>
                    <a class="f-cb t @(controller == "cart" ? "z-crt" : "")" href="/My/Cart/Index">我的购物车</a>
                </div>
            </div>
            <div class="menu">
                <a class="h f-cb">我的评价</a>
                <div class="menu2 f-cb">
                    <a class="f-cb t @(controller == "toevaluate" ? "z-crt" : "")" href="/My/ToEvaluate/Index">待评价</a>
                    <a class="f-cb t @(controller == "evaluated" ? "z-crt" : "")" href="/My/Evaluated/Index">已评价</a>
                </div>
            </div>
            <div class="menu">
                <a class="h f-cb">我的收藏</a>
                <div class="menu2 f-cb">
                    <a class="f-cb t @(controller == "collect" ? "z-crt" : "")" href="/My/Collect/Index">收藏列表</a>
                </div>
            </div>
            <div class="menu">
                <a class="h f-cb">我的账户</a>
                <div class="menu2 f-cb">
                    <a class="f-cb t @(controller == "account" ? "z-crt" : "")" href="/My/Account/Index">账户设置</a>
                </div>
            </div>
            <div class="menu">
                <a class="h f-cb">常用信息管理</a>
                <div class="menu2 f-cb">
                    <a class="f-cb t @(controller == "contact" ? "z-crt" : "")" href="/My/Contact/Index">常用联系人</a>
                </div>
            </div>
        </div>
        <div class="m-right">
            <div class="m-rt f-cb">
                <span class="title">@ViewBag.Title</span>
            </div>
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_FootPartial")
    @RenderSection("foot", false)
</body>
</html>
