@using MT.Common
@using MT.Models
@using MT.Dal
@model PetaPoco.Page<MT.Models.UserModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml";
    RouteValueDictionary vs = ViewContext.RouteData.Values;
}
@section head{
}


<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="">
            <blockquote class="layui-elem-quote mylog-info-tit">
                <div class="layui-form-item ">
                    @using (Html.BeginForm(vs["action"].ToString(), vs["controller"].ToString(), FormMethod.Get, new { @class = "layui-form" }))
                    {  
                           <div class="layui-inline">
                               <input type="text" class="layui-input" placeholder="姓名" name="Item.Name" id="Item_Name" value="@(Model.Item == null ? "" : Model.Item.Name + "")" />
                           </div>
                           <div class="layui-inline">
                               <input name="" type="submit" value="查询" class="layui-btn" />
                           </div>
                           if (Html.IsAuth("Admin", vs["controller"].ToString(), "Add"))
                           {
                               <div class="layui-inline">
                                   <button type="button" class="layui-btn  layui-btn-normal" onclick="usergoAdd()">添加</button>
                               </div>
                           }
                    }
                    </div>
            </blockquote>
        </div>

        <div class="larry-personal-body clearfix">
            <table border="0" class="layui-table">
                <tr>
                    <th>
                        @Html.LabelFor(m => m.Item.ID)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Item.Name)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Item.NickName)
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                @if (Model.Items.Count == 0)
                {
                    <tr>
                        <td colspan="4">
                            @MT.Common.MTConfig.ListNoData
                        </td>
                    </tr>
                }
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.NickName
                        </td>
                        <td>
                            @{
                                if (Html.IsAuth("Admin", vs["controller"].ToString(), "Edit"))
                                {
                                    <a href="/Admin/@(vs["controller"])/Edit/@item.ID" class="layui-btn layui-btn-small layui-btn-normal">编辑</a>
                                }
                            }
                            @{
                                if (Html.IsAuth("Admin", vs["controller"].ToString(), "Delete"))
                                {
                                    <a onclick="deletemodel('/Admin/@(vs["controller"])/Delete/@item.ID')" class="layui-btn layui-btn-small layui-btn-danger">删除</a>
                                }
                            }
                        </td>
                    </tr>
                 }
            </table>
            <div class="pageboder"> @Html.RenderPage(Model, "Admin") </div>
        </div>
    </div>
</section>
<script>
    function usergoAdd() {
        window.location.href = '/Admin/@vs["controller"].ToString()/Edit?actiontype=1';
    }
</script>