@using MT.Models
@using MT.Common
@model PetaPoco.Page<UserInfoModel>

@{
    ViewBag.Title = "列表";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml";
    RouteValueDictionary vs = ViewContext.RouteData.Values;
}


@section head{

}

<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="">
            <blockquote class="layui-elem-quote mylog-info-tit">
                <div class="layui-form-item ">
                    @using (Html.BeginForm(vs["action"].ToString(), vs["controller"].ToString(), FormMethod.Get, new {@class = "layui-form"}))
                    {
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" placeholder="名称" data-val="true" name="Item_Name" id="Item_Name"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn"><i class="layui-icon">&#xe615;</i> 查询</button>
                        </div>

                        if (Html.IsAuth("Admin", vs["controller"].ToString(), "UserInfoEdit"))
                        {
                            <div class="layui-inline f-fr">
                                <button type="button" class="layui-btn" onclick="goAdd()"><i class="layui-icon">&#xe608;</i> 添加</button>
                            </div>
                        }
                    }

                </div>
            </blockquote>
        </div>
        <div class="larry-personal-body clearfix">
            <table border="0" class="layui-table">
                <tr>
                    <th>
                        @Html.LabelFor(m => m.Item.UserName)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Item.Phone)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Item.CreateTime)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Item.UpdateTime)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Item.UserStatus)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.Item.WhichDepart)
                    </th>
                    <th>操作</th>
                </tr>
                @if (Model.Items.Count == 0)
                {
                    <tr>
                        <td colspan="7">@MTConfig.ListNoData</td>
                    </tr>
                }
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            @item.CreateTime
                        </td>
                        <td>
                            @item.UpdateTime
                        </td>
                        <td>
                            @item.UserStatus
                        </td>
                        <td>
                            @item.WhichDepart
                        </td>
                        <td>
                            @if (Html.IsAuth("Admin", vs["controller"].ToString(), "UserInfoEdit"))
                            {
                                <a href="/Admin/@(vs["controller"])/@vs["controller"].ToString()Edit/@item.UserID" class="layui-btn layui-btn-small">编辑</a>
                            }
                            @if (Html.IsAuth("Admin", vs["controller"].ToString(), "Delete"))
                            {
                                <a class="layui-btn layui-btn-small" onclick="deletemodel('/Admin/@(vs["controller"])/Delete/@item.UserID')">删除</a>
                            }
                        </td>
                    </tr>
                }
            </table>
            <div class="pageboder"> @Html.RenderPage(Model, "Admin") </div>
        </div>
    </div>
</section>
<script>
    function assign(url) {
        layer.open({
            title: '调整金额',
            type: 2,
            resize: false,
            content: [url],
            area: ['800px', '400px'],
            success:function() {
                
            }
        });
    }
</script>

