<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
@{
    ViewBag.Title = "操作成功";
    Layout = null;
}
<head>
    @MT.Common.ResourceHelper.CreateStyleResourceUrl("Admin", new[] { "common", "backstage" })
</head>
<body>
    <div class="m-opersf f-cb">
        <dl>
            <dt class="ico-succeed f-cb"></dt>
            <dd>
                <h1 class="z-testrgt">
                    @ViewData["info"]</h1>
                <p>
                    将在<em class="z-testrgt">@(ViewData["time"])</em>秒后自动跳转，若不想等待，请<a id="jumpUrl" onclick="back();" href="javascript:void(0);">点击此处</a>跳转</p>
            </dd>
        </dl>
    </div>
    @*  </div>*@
    <script type="text/javascript">
        var jumpUrl = '@Html.Raw(ViewData["jumpUrl"].ToString())';
        var pathname = jumpUrl;
        var params = '';
        if (jumpUrl.indexOf('?') != -1) {
            pathname = jumpUrl.split('?')[0];
            params = jumpUrl.split('?')[1];
        } 
        
        var keyValues = {};
        var arr = (top.art.dialog.data[pathname.toLowerCase()] || '').split('&');
        var i;
        var keyValue;
        for (i = 0; i < arr.length;i++) {
            if (arr[i] == '' || arr[i].split('=').length < 2) {
                continue;
            }
            keyValue = arr[i].split('=');
            keyValues[keyValue[0]] = keyValue[1];
        }
        if ((params || '') != '') {
            arr = params.split('&');
            for (i = 0; i < arr.length; i++) {
                if (arr[i] == '' || arr[i].split('=').length < 2) {
                    continue;
                }
                keyValue = arr[i].split('=');
                keyValues[keyValue[0]] = keyValue[1];
            }
        }
        var parameters = new Array();
        for (i in keyValues) {
            parameters.push(i + '=' + keyValues[i]);
        }

        function back() {
            location.href = pathname + '?' + parameters.join('&');
        }
        setTimeout(function () {
            location.href = pathname + '?' + parameters.join('&');
        }, @Convert.ToInt32(ViewData["time"])*1000);
    </script>
</body>
</html>
