@using MT.Models
@using MT.Common
@model PetaPoco.Page<SystemLogModel>

@{
    ViewBag.Title = "列表";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml";
	RouteValueDictionary vs = ViewContext.RouteData.Values;
}


@section head{
<script type="text/javascript">
    $(document).ready(function () {
        BindCheckAll();
    });
</script>
}
<section class="layui-larry-box">
    <div class="larry-personal">
        <div class="">
            <blockquote class="layui-elem-quote mylog-info-tit">
                <div class="layui-form-item ">
                      <form action="/Admin/@vs["controller"].ToString()/@vs["action"].ToString()" method="get" class="layui-form ">
                           <div class="layui-inline">
                                 <input type="text" class="layui-input"   placeholder="管理员编号" lay-verify="isnumber" name="Item.UserID" id="Item_UserID" value="@(Model.Item == null ? "" : Model.Item.UserID + "")" />
                           </div>
                           <div class="layui-inline">
                                 <input type="text" class="layui-input"   placeholder="日志类型" lay-verify="isnumber" name="Item.Type" id="Item_Type" value="@(Model.Item == null ? "" : Model.Item.Type + "")"  />
                           </div>
                           <div class="layui-inline">
                                 <input type="text" class="layui-input"   placeholder="日志信息"  name="Item.LogInfo" id="Item_LogInfo" value="@(Model.Item == null ? "" : Model.Item.LogInfo + "")"/>
                           </div>
                           <div class="layui-inline">
                               @if (Model.Item != null)
                               {
                                <input type="text" class="layui-input" placeholder="操作时间" name="Item.InsTime" id="Item_InsTime" value="@(Model.Item == null ? "" : Model.Item.InsTime + "")" onclick="layui.laydate({elem: this, isdate: true, format: 'YYYY-MM-DD'})" />
                               }
                               else
                               {
                                <input type="text" class="layui-input" placeholder="操作时间" name="Item.InsTime" id="Item_InsTime"  onclick="layui.laydate({elem: this, isdate: true, format: 'YYYY-MM-DD'})" />
                               }
                               
                           </div>
                           <input type="hidden" value="@ViewBag.orderby" id="orderby" name="orderby" />
                           <div class="layui-inline">
                                 <input type="text" class="layui-input"   placeholder="IP"  name="Item.IP" id="Item_IP" value="@(Model.Item == null ? "" : Model.Item.IP + "")"/>
                           </div>
                           <div class="layui-inline">
                                 <input type="text" class="layui-input"   placeholder="提交参数"  name="Item.Parameters" id="Item_Parameters" value="@(Model.Item == null ? "" : Model.Item.Parameters + "")"/>
                           </div>
                           <div class="layui-inline">
                                 <button type="submit" lay-submit class="layui-btn "> 查询</button>
                           </div>
                          @if (Html.IsAuth("Admin", vs["controller"].ToString(), "SystemLogEdit"))
                        {
                           <div class="layui-inline">
                                    <button type="button" class="layui-btn  layui-btn-normal" onclick="goAdd()">添加</button>
                           </div>
                        }
                        @*@if (Html.IsAuth("Admin", vs["controller"].ToString(), "Delete"))
                        {
                           <div class="layui-inline f-fr">
                                <button type="button" class="layui-btn btnDelete layui-btn-danger"> 删除</button>
                           </div>
                        }*@
                       
                     </form>
                 </div>
            </blockquote>
        </div>
    <div class="larry-personal-body clearfix">
            <table border="0" class="layui-table">
                <tr>
                    @*<th><input type="checkbox" class="checkall" /></th>*@
                    <th>
                        @Html.LabelFor(m=>m.Item.UserID)
                    </th>
                    <th>
                        @Html.LabelFor(m=>m.Item.Type)
                    </th>
                    <th>
                        @Html.LabelFor(m=>m.Item.LogInfo)
                    </th>
                    <th>
                        @Html.LabelFor(m=>m.Item.InsTime)
                    </th>
                    <th>
                        @Html.LabelFor(m=>m.Item.IP)
                    </th>
                    <th>
                        @Html.LabelFor(m=>m.Item.Parameters)
                    </th>

            		<th>操作</th>
                </tr>
            @if(Model.Items.Count == 0){
            	<tr>
            		<td colspan="8">@MTConfig.ListNoData</td>
            	</tr>
            }
            @foreach (var item in Model.Items) {
                <tr>
                  @*  <td><input type="checkbox" class="checkone" value="@item.ID" /></td>*@ 
                    <td>
                        @item.UserID
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.LogInfo
                    </td>
                    <td>
                        @item.InsTime
                    </td>
                    <td>
                        @item.IP
                    </td>
                    <td>
                        @item.Parameters
                    </td>
                    <td>
                      @if (Html.IsAuth("Admin", vs["controller"].ToString(), "SystemLogEdit"))
                    {
                    <a href="/Admin/@(vs["controller"])/SystemLogEdit/@item.ID" class="layui-btn layui-btn-small layui-btn-normal">编辑</a>
                    }
                        @if (Html.IsAuth("Admin", vs["controller"].ToString(), "Delete"))
                    {
                    <a onclick="deletemodel('/Admin/@(vs["controller"])/Delete/@item.ID')" class="layui-btn layui-btn-small layui-btn-danger" >删除</a>
                     }
                    </td>
                </tr>
            }

            </table>
    
           <div class="pageboder"> @Html.RenderPage(Model, "Admin") </div>
       </div>
    </div>
</section>
@section foot{
<script type="text/javascript">
   
</script>
}

