@using MT.Models
@using MT.Common
@using MT.Common.Helper
@using MT.Models

@{
    ViewBag.Title = "资金管理";
    Layout = "~/Areas/web/Views/Shared/_LayoutPage.cshtml";
    int actiontype = 0;
    var read = "";
    if (MTConfig.CurrentUserInfo.AgentLevelID > 0)
    {
        actiontype = 2;
        read = "disabled";
    }
}

@section head{
}
<link href="~/Styles/MyAccountIndex.css" rel="stylesheet" />
<style>
    .moneyTake-title {
        padding-left:20px;
        line-height:48px;
        border-bottom:1px solid #232f41;
        color:#cad4de;
    }
    .layui-form-item.layui-form-item1 {
        padding-left:15px;
        color:#cad4de;
    }
    .layui-input, .layui-select {
        background-color:transparent;
        border-color:#232f41
    }
    .layui-input-inline-1 {
        width:78px;
    }
    .layui-btn.layui-btn-normal {
        padding:0px 25px;
        background-color:#329ef4
    }
    .layui-btn.layui-btn-normal:hover {
        background-color:#329ef4!important;
    }
</style>
<section class="layui-larry-box" style="padding:30px 0px 0px;margin-left:14px;">
    @if (ViewBag.actiontype == 2)
    {
        <a onclick="javascript: window.history.go(-1);"><i class="layui-icon " style="margin-left: 12px"></i><span style="font-family:'微软雅黑'" lang="return">back</span></a>
    }
    <div class="" style="color:#cad4de; font-size:18px;" lang="user_turn">

    </div>
    <div class="larry-personal">
        @*<header class="larry-personal-tit">
                <div><a onclick="javascript: window.history.go(-1);"><i class="layui-icon " style="color:darkgoldenrod">&#xe603;</i><span style="color: darkgoldenrod;font-family:'微软雅黑'" lang="return"></span></a></div>
            </header>*@
        <br />
        <input type="hidden" id="accId" value="@ViewBag.AccountID" />
        <input type="hidden" id="type" value="@ViewBag.type" />
        <input type="hidden" id="acc" value="@ViewBag.Account" />
      
        <input id="demo" btn-lang="wallet_balance" type="hidden" />
        <input id="account_select" btn-lang="account_select" type="hidden" />
        <input id="write_money" btn-lang="write_money" type="hidden" />
        <input id="transfer" btn-lang="transfer" type="hidden" />
        <input id="morethanzero" btn-lang="morethanzero" type="hidden" />
        <input id="confirm_change" btn-lang="confirm_change" type="hidden" />
        <input id="sumMoney" type="hidden" value="@ViewBag.sumMoney" />
        <div class="larry-personal-body clearfix " style="margin: 0px;">
         
            <div class="f-fl" style="width:804px;">
                <div class="layui-elem-field iv-fiel" style="width:100%;height:auto;background-color:#1c283b;border:none">

                    @*<div class="crm-rotation" lang="converted"></div>*@
                    <form method="post" class="layui-form col-lg-11" id="form2" style="padding:0px 0px 17px;box-shadow:0px 1px 3px 0px #1c283b">
                        <div class="moneyTake-title" lang="user_turn_form"></div>
                        <div class="layui-form-item layui-form-item1">
                            <label class="layui-form-label" style="width: 140px;margin-top:20px" lang="current_balance"></label>
                            <div class="layui-input-inline layui-input-inline-1" style="margin-top:20px">
                                <input type="text" id="money" class="layui-input" readonly style="border:0" value="$ @ViewBag.sumMoney " />
                                @*<span style="font-size: 16px;" id="money"></span>*@
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-item1">
                            <label class="layui-form-label" style="width: 140px;" lang="into_account"></label>
                            <div class="layui-input-inline layui-input-inline-1">
                                @{ if (MTConfig.UserLang == "En")
                                    {
                                        <input type="text" autocomplete="off" class="layui-input" name="TarUser" id="" value="" placeholder="Please fill the   SH有点科技 name (email) of receiving party" />
                                    }
                                    else
                                    {
                                        <input type="text" autocomplete="off" class="layui-input" name="TarUser" id="" value="" placeholder="请填写对方SH有点科技账户名 (邮箱)" />
                                    }
                                }
                               
                   
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-item1">
                            <label class="layui-form-label" style="width: 140px;" lang="sum"></label>
                            <div class="layui-input-inline layui-input-inline-1">
                                <input type="number" autocomplete="off" class="layui-input" name="StreamMoney" id="OuterMoney" />
                            </div>
                            @if (MTConfig.UserLang == "En")
                            {
                                <input type="hidden" class="layui-input" name="Remark" id="Remark" value="Commission Forwarding" />
                            }
                            else
                            {
                                <input type="hidden" class="layui-input" name="Remark" id="Remark" value="佣金转发" />
                            }
                        </div>
                        @*<div class="layui-form-item"  >
                                <label class="layui-form-label" style="width: 140px;" >汇率</label>
                                <input type="text" autocomplete="off" class="layui-input" style="width:100px;border:0" name="" id="" value="@ViewBag.buyPic"/>
                            </div>*@
                        @*<div class="layui-form-item"  >
                                <label class="layui-form-label" style="width: 140px;" lang="remark_crm"></label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="Remark" id="Remark" />
                                </div>
                            </div>
                            <div class="layui-form-item"  >
                                <label class="layui-form-label" style="width: 140px;" lang="remark_mt4"></label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" name="Remark" id="Remark" />
                                </div>
                            </div>*@
                        <div class="layui-form-item" style="margin:0px 0px 20px 10px;">
                            <div class="Inside-notes-title" lang="important_items" style="margin-left:150px;padding-top:10px;color:#8e949d"></div>
                            <p style="padding-top:16px;margin-left:150px;font-size:12px;line-height:26px;color:#8e949d" lang="Inside_notes"></p>
                        </div>
                        <div class="layui-form-item layui-form-item1">

                            <div class="layui-input-inline" style="margin-left: 145px;">
                                <a onclick="OuterSure();" href="javascript:;" class="layui-btn layui-btn-normal" lang="surepay"><i class="fa fa-cny"></i>&nbsp;</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

           
        </div>
    </div>
</section>
@section foot
    {
    <script>
            var blank1 =
                "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
            var blank2 = "&nbsp;&nbsp;&nbsp;&nbsp;" +
                $("#sumMoney").val() + "&nbsp;$";
            //转出账户 Select监听
            layui.use(['jquery', 'form'],
                function() {
                    var form = layui.form();
                    form.on('select(test)',
                        function(data) {
                            if (data.value == "000") {
                                $("#InAccount").empty();
                                $("#AccountID").empty();
                                $.ajax({
                                    url: "/Web/FinaceManage/GetAccountList",
                                    Type: "post",
                                    data: {},
                                    success: function(data) {
                                        var dataList = data.data;
                                        var str = "";
                                        for (var i = 0; i < dataList.length; i++) {
                                            str += "<option value=" +
                                                dataList[i].AccountID +
                                                ">" +
                                                dataList[i].Account +
                                                blank1 +
                                                dataList[i].Balance +
                                                "&nbsp;$" +
                                                "</option>";
                                        }
                                        str += "<option  value='000'>" + $("#demo").val() + blank2 + "</option>";
                                        $("#InAccount").append(str);

                                        var str2 = "<option  value=" +
                                            $("#InAccount option:selected").val() +
                                            ">" +
                                            $("#demo").val() + blank2 +
                                            "</option>";
                                        $("#AccountID").append(str2);

                                        $("#StreamType").val(3);

                                        layui.form().render();
                                    }
                                });
                            }

                        });
                    //转入账户 Select监听
                    form.on('select(test2)',
                        function(data) {
                            if ($("#AccountID").val() == -1 || $("#AccountID option").eq(0).html() == '钱包' + blank2) {
                                if (data.value == "000") {
                                    $("#InAccount").empty();
                                    $("#AccountID").empty();
                                    $.ajax({
                                        url: "/Web/FinaceManage/GetAccountList",
                                        Type: "post",
                                        data: {},
                                        success: function(data) {
                                            var dataList = data.data;
                                            var str = "";
                                            for (var i = 0; i < dataList.length; i++) {
                                                str += "<option value=" +
                                                    dataList[i].AccountID +
                                                    ">" +
                                                    dataList[i].Account +
                                                    blank1 +
                                                    dataList[i].Balance +
                                                    "&nbsp;$" +
                                                    "</option>";
                                            }
                                            str += "<option lang='wallet_balance' value='000'>" +
                                                $("#demo").val() + blank2 +
                                                "</option>";
                                            $("#AccountID").append(str);

                                            var str2 = "<option lang='wallet_balance' value='000'>" +
                                                $("#demo").val() + blank2 +
                                                "</option>";
                                            $("#InAccount").append(str2);

                                            $("#StreamType").val(4);

                                            layui.form().render();
                                        }
                                    });
                                } else {
                                    $("#AccountID option:selected").val(data.value);
                                    layui.form().render();
                                }
                            }
                        });
                });

            $(function () {
                //判断当前user是否为代理 若为代理 则自转内的全部为不可获取
                if (@actiontype == 2) {
                    $("#rotationbtn").attr("class", "layui-btn layui-btn-disabled");
                    $("#rotationbtn").attr("onclick", "");
                }


                //初始化下拉列表
                var accId = $("#accId").val();
                var type = $("#type").val();
                var acc = $("#acc").val();
                if (type == 1) { //点击转入
                    $.ajax({
                        url: "/Web/FinaceManage/GetAccountList",
                        Type: "post",
                        data: {},
                        success: function(data) {
                            var dataList = data.data;
                            var str = "";
                            for (var i = 0; i < dataList.length; i++) {
                                if (dataList[i].AccountID == accId) {
                                    str += "<option value=" +
                                        dataList[i].AccountID +
                                        " selected>" +
                                        dataList[i].Account +
                                        blank1 +
                                        dataList[i].Balance +
                                        "&nbsp;$" +
                                        "</option>";
                                } else {
                                    str += "<option value=" +
                                        dataList[i].AccountID +
                                        ">" +
                                        dataList[i].Account +
                                        blank1 +
                                        dataList[i].Balance +
                                        "&nbsp;$" +
                                        "</option>";
                                }
                            }
                            str += "<option lang='wallet_balance' value='000'>" +
                                $("#demo").val() +
                                blank2 +
                                "</option>";
                            $("#InAccount").empty().append(str);

                            var str2 = "<option lang='wallet_balance' value=" +
                                $("#InAccount option:selected").val() +
                                " selected>" +
                                $("#demo").val() +
                                blank2 +
                                "</option>";
                            $("#AccountID").empty().append(str2);

                            $("#StreamType").val(3);

                            layui.form().render();
                        }
                    });
                } else if (type == 2) { //点击转出
                    $.ajax({
                        url: "/Web/FinaceManage/GetAccountList",
                        Type: "post",
                        data: {},
                        success: function(data) {
                            var dataList = data.data;
                            var str = "";
                            for (var i = 0; i < dataList.length; i++) {
                                if (dataList[i].AccountID == accId) {
                                    str += "<option value=" +
                                        dataList[i].AccountID +
                                        " selected>" +
                                        dataList[i].Account +
                                        blank1 +
                                        dataList[i].Balance +
                                        "&nbsp;$" +
                                        "</option>";
                                } else {
                                    str += "<option value=" +
                                        dataList[i].AccountID +
                                        ">" +
                                        dataList[i].Account +
                                        blank1 +
                                        dataList[i].Balance +
                                        "&nbsp;$" +
                                        "</option>";
                                }
                            }
                            str += "<option lang='wallet_balance' value='000'>" +
                                $("#demo").val() +
                                blank2 +
                                "</option>";
                            $("#AccountID").append(str);

                            var str2 = "<option lang='wallet_balance' value='000' selected>" +
                                $("#demo").val() +
                                blank2 +
                                "</option>";
                            $("#InAccount").append(str2);

                            $("#StreamType").val(4);

                            layui.form().render();
                        }
                    });
                } else { //直接进入资金管理页面
                    $.ajax({
                        url: "/Web/FinaceManage/GetAccountList",
                        Type: "post",
                        data: {},
                        success: function(data) {
                            var dataList = data.data;
                            var str = "";
                            for (var i = 0; i < dataList.length; i++) {
                                str += "<option value=" +
                                    dataList[i].AccountID +
                                    ">" +
                                    dataList[i].Account +
                                    blank1 + dataList[i].Balance + "&nbsp;$" +
                                    "</option>";
                            }
                            str += "<option lang='wallet_balance' value='000'>" +
                                $("#demo").val() +
                                blank2 +
                                "</option>";
                            $("#AccountID").append(str);

                            var str2 = "<option lang='wallet_balance' value='000'>" +
                                $("#demo").val() +
                                blank2 +
                                "</option>";
                            $("#InAccount").append(str2);

                            $("#StreamType").val(4);

                            layui.form().render();
                        }
                    });
                }

                //获取所有账户 下拉列表
                $.ajax({
                    url: "/Web/FinaceManage/GetOuterAccountList",
                    Type: "post",
                    data: {},
                    success: function(data) {
                        var dataList = data.data;
                        var str = "";
                        for (var i = 0; i < dataList.length; i++) {
                            str += "<option value=" +dataList[i].UserID + ">" +dataList[i].Email +"</option>";
                        }
                        $("#OuterUserID").append(str);
                        layui.form().render();
                    }

                });

            });


            //确定转账(自转)
            function sure() {
                var inAcc = $("#InAccount option:selected").val();
                var outAcc = $("#AccountID option:selected").val();
                var smoeny = $("#StreamMoney").val();
                if (inAcc == -1 || outAcc == -1) {
                    layer.msg($("#account_select").val());
                    return;
                }
                if (smoeny == null || smoeny == "") {
                    layer.msg($("#write_money").val());
                    return;
                } else {
                    if (smoeny <= 0) {
                        layer.msg($("#morethanzero").val());
                        return;
                    }
                }
                layer.confirm($("#confirm_change").val(),
                    function() {
                        var i;
                        $.ajax({
                            url: "/Web/FinaceManage/FinaceManage",
                            type: "POST",
                            data: $("#form").serialize(),
                            success: function(data) {
                                if (data.status == 1) {
                                    //保存成功
                                    layer.open({
                                        content: data.msg,
                                        yes: function(layero, index) {
                                            //layer.load();
                                            parent.location.reload();
                                        }
                                    });

                                } else {
                                    layer.msg(data.msg);
                                }
                            },
                            beforeSend: function() {
                                i = loading();
                            },
                            error: function(e, jqxhr, settings, exception) {
                                loadOver(i);
                            }
                        });
                    });

            }

            //确定转账(内转)
            function OuterSure() {
                var outAcc = $("#OuterUserID option:selected").val();
                var smoeny = $("#OuterMoney").val();

                if (outAcc == -1) {
                    layer.msg($("#account_select").val());
                    return;
                }
                if (smoeny == null || smoeny == "") {
                    layer.msg($("#write_money").val());
                    return;
                } else {
                    if (smoeny <= 0) {
                        layer.msg($("#morethanzero").val());
                        return;
                    }
                }
                layer.confirm($("#confirm_change").val(),
                    function () {
                        var i;
                        $.ajax({
                            url: "/Web/FinaceManage/AddMoneyTake",
                            type: "POST",
                            data: $("#form2").serialize(),
                            success: function (data) {
                                if (data.status == 1) {
                                    //保存成功
                                    layer.open({
                                        content: data.msg,
                                        yes: function (layero, index) {
                                            //layer.load();
                                            parent.location.reload();
                                        }
                                    });

                                } else {
                                    layer.msg(data.msg);
                                }
                            },
                            beforeSend: function () {
                                i = loading();
                            },
                            error: function (e, jqxhr, settings, exception) {
                                loadOver(i);
                            }
                        });
                    });

            }

            //关闭弹窗
            function closelayer() {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            }

            //正在加载
            function loading() {
                return layer.msg($("#transfer").val(),
                { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, offset: '', time: 100000 });
            }

            //加载完毕
            function loadOver(index) {
                layer.close(index);
            }
            $("table tr:nth-child(even)").css('background', '#f9f9f9');
    </script>
}


